.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(54, 202, 165);
  border: none;
  color: rgb(15, 66, 54);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: rgb(40, 209, 209);
}

.books {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;
}

.details {
  text-align: left;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
